*{
    margin: 0 60px;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.55);
    color: rgb(29, 4, 13);
}

.logo img{
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

hr{    
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.logo h4{
    padding: 10px;
    text-align: center;
}

.code{
    background-color: burlywood;
    height: auto;
    margin: 0 210px;
}

.code h3{
    text-align: center;
    padding: 5px;
}

.hero h1{
    font-size: 30px;
    font-weight: 16px;
    padding: 15px;
    text-align: center;
}

.hero p{
    font-size: 20px;
    text-align: center;
    font-weight: 12px;
}

.image{
    width: auto;
    display: flex;
}

.image img{
    width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-right: 50%;
    position: relative;
}

.image h1{
    position: absolute;
    margin-top: 400px;
    margin-left: 120px;
    font-family: 'Merienda', cursive;
    color: floralwhite;
    font-size: 47px;
}

.image h6{
    position: absolute;
    margin-top: 470px;
    margin-left: 270px;
    color: aliceblue;
    font-family: 'Niconne', cursive;
    font-size: 25px;
}

.text{
    background-color: black;
    color:beige;
    text-align: center;
    max-width: 800px;
    margin: 0 205px;
}

.text h1{
    font-size: 90px;
}

.text h3{
    font-size: 25px;
}

.text h6{
    font-size: 15px;
    padding: 0 20px;
}

.text p{
    font-size: 15px;
}

.text button{
    font-size: 18px;
    padding: 6px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer h4{
    padding: 30px;
    text-align: center;
}

footer p{
    text-align: center;
    padding: 5px 40px;
}

footer .ps{
    margin-top: 30px;
}

footer h6{
    text-align: center;
    margin: 30px;
    font-size: 12px;
}

.lines{
    margin: 20px;
}